# Web Framework
flask

# Environment Variable
python-dotenv

# LangChain
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-groq

# Vector Store
faiss-cpu

# Embeddings
sentence-transformers

# Hugging Face
huggingface-hub

# PDF Processing
pymupdf

# Optional: Testing
pytest